charset"utf-8";
body {
 font-family: 'Bebas Nueu', sans serif;
 Font-size: 100%
 Line-height: 175%;
 margin: 0 10%;
 color: #3F2B6C
 background-color: #E9E5EC;
 background-image: #E9E5EC url(patternbg.jpg); background-repeat: space;
 }
 
 header {
 margin-top: 0;
 padding: 0em 1em 1em 1em;
 text-align: center;
 background-color: #E9E5EC;
 }
 
 a {
 text-decoration: none;
}
a:link{
      color: #3F2B6C;
      }
a:visited {
      color:#DFD1FF;
}
a:active {
	color: #DFD1FF;
	background-color: #5F5182;
}

h1 {
		text-align: center;
		font-weight: normal;
		color: #DFD1FF;
		text-transform: uppercase;
		margin-top: 30px;
	}
	h2 {
		color: #DFD1FF;
		font-size: 1em;
	}
	h3 {
		text-align: center;
		font-family: serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1em;
		margin-top: 50px;
	}
	h4 {
		text-align: center;
		font-family: sans-serif;
		font-weight: normal;
		font-size: 1em;
		margin-top: 5px;

dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
